Repository smjt-h/harness-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: diptiman.adak@harness.io, udham.singh@harness.io, guna.chandrasekaran@harness.io, raghu@harness.io, abhinav.singh@harness.io, jenny.james@harness.io, marko.milic@harness.io, arpit.tiwari@harness.io, gaurav.jain@harness.io, xin.shao@harness.io, utkarsh.gupta@harness.io, ankit.singhal@harness.io, mallavarapu.reetika@harness.io, manish.manchanda@harness.io, prashant.pal@harness.io, bojan.micovic@harness.io, anil.chowdhury@harness.io, deepak.puthraya@harness.io, johannes@harness.io, prashant.sharma@harness.io, vaibhav.si@harness.io, praveen.sugavanam@harness.io, kamal.joshi@harness.io, abhijith.pradeep@harness.io, deepak.chhikara@harness.io, kanhaiya.rathi@harness.io, kapil.choudhary@harness.io

.github/CODEOWNERS:

DockerFile* diptiman.adak@harness.io udham.singh@harness.io guna.chandrasekaran@harness.io
/dockerization/delegate/ raghu@harness.io abhinav.singh@harness.io jenny.james@harness.io marko.milic@harness.io arpit.tiwari@harness.io gaurav.jain@harness.io xin.shao@harness.io
/access-control/ utkarsh.gupta@harness.io ankit.singhal@harness.io mallavarapu.reetika@harness.io manish.manchanda@harness.io
/clients/access-control/ utkarsh.gupta@harness.io ankit.singhal@harness.io mallavarapu.reetika@harness.io manish.manchanda@harness.io
/125-cd-nextgen/src/test/resources/recaster/alias/alias.txt prashant.pal@harness.io
/300-cv-nextgen/src/test/resources/recaster/alias/alias.txt prashant.pal@harness.io
/320-ci-execution/src/test/resources/recaster/alias/alias.txt prashant.pal@harness.io
/800-pipeline-service/src/test/resources/recaster/alias/alias.txt prashant.pal@harness.io
/860-orchestration-steps/src/test/resources/recaster/alias/alias.txt prashant.pal@harness.io
/860-orchestration-visualization/src/test/resources/recaster/alias/alias.txt prashant.pal@harness.io
/870-orchestration/src/test/resources/recaster/alias/alias.txt prashant.pal@harness.io
/260-delegate/module-dependency.hash bojan.micovic@harness.io raghu@harness.io abhinav.singh@harness.io jenny.james@harness.io ankit.singhal@harness.io anil.chowdhury@harness.io deepak.puthraya@harness.io
/260-delegate/ johannes@harness.io raghu@harness.io abhinav.singh@harness.io jenny.james@harness.io marko.milic@harness.io arpit.tiwari@harness.io gaurav.jain@harness.io xin.shao@harness.io
/270-delegate-service-app/module-dependency.hash bojan.micovic@harness.io raghu@harness.io abhinav.singh@harness.io jenny.james@harness.io ankit.singhal@harness.io anil.chowdhury@harness.io deepak.puthraya@harness.io
/400-rest/src/main/resources/delegatetemplates/ raghu@harness.io abhinav.singh@harness.io jenny.james@harness.io marko.milic@harness.io arpit.tiwari@harness.io gaurav.jain@harness.io xin.shao@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/creator/CDNGPlanCreatorProvider.java prashant.sharma@harness.io vaibhav.si@harness.io
/800-pipeline-service/src/main/java/io/harness/pms/plan/creation/PipelineServiceInternalInfoProvider.java prashant.sharma@harness.io vaibhav.si@harness.io
/320-ci-execution/src/main/java/io/harness/ci/plan/creator/CIPipelineServiceInfoProvider.java prashant.sharma@harness.io vaibhav.si@harness.io
/300-cv-nextgen/src/main/java* praveen.sugavanam@harness.io kamal.joshi@harness.io abhijith.pradeep@harness.io deepak.chhikara@harness.io kanhaiya.rathi@harness.io kapil.choudhary@harness.io
/800-pipeline-service/src/main/java/**/*Resource*.java vaibhav.si@harness.io prashant.pal@harness.io

[techDebt]: [DEL-3881]: Move LogDataCollectionTask and related classes to 930-delegate-tasks
  930-delegate-tasks/src/main/java/io/harness/serializer/kryo/DelegateTasksKryoRegistrar.java
Owners: none

[PL-22547]: Fix unit test (#32841)
  882-pms-sdk-core/src/test/java/io/harness/pms/sdk/core/adviser/ignore/IgnoreAdviserTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/k8s/K8sCanaryRequestHandlerTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/k8s/K8sRollingBaseHandlerTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/git/GitCommandTaskHandlerTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/k8s/ContainerDeploymentDelegateBaseHelperTest.java
  952-scm-java-client/src/test/java/io/harness/impl/scm/ScmServiceClientImplTest.java
Owners: none

[techDebt]: [DEL-3881]: Move LogDataCollectionTask and related classes to 930-delegate-tasks
  400-rest/src/main/java/io/harness/serializer/morphia/ManagerMorphiaRegistrar.java
Owners: none

[fix]: [DEL-3961]: add exception trace in acquire (#32839)
  260-delegate/src/main/java/io/harness/delegate/service/DelegateAgentServiceImpl.java
  build.properties
Owners: johannes@harness.io, raghu@harness.io, abhinav.singh@harness.io, jenny.james@harness.io, marko.milic@harness.io, arpit.tiwari@harness.io, gaurav.jain@harness.io, xin.shao@harness.io

update hash
  260-delegate/module-dependency.hash
  270-delegate-service-app/module-dependency.hash
  400-rest/src/main/java/software/wings/service/impl/AssignDelegateServiceImpl.java
Owners: johannes@harness.io, raghu@harness.io, abhinav.singh@harness.io, jenny.james@harness.io, marko.milic@harness.io, arpit.tiwari@harness.io, gaurav.jain@harness.io, xin.shao@harness.io, bojan.micovic@harness.io, ankit.singhal@harness.io, anil.chowdhury@harness.io, deepak.puthraya@harness.io

Pl 22547 round2 (#32842)
  800-pipeline-service/src/test/java/io/harness/pms/pipeline/service/yamlschema/approval/ApprovalYamlSchemaServiceImplTest.java
  800-pipeline-service/src/test/java/io/harness/pms/pipeline/service/yamlschema/featureflag/FeatureFlagYamlSchemaServiceImplTest.java
  930-delegate-tasks/src/main/java/io/harness/delegate/task/citasks/cik8handler/helper/SecretVolumesHelper.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/citasks/cik8handler/helper/SecretVolumesHelperTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/gcp/helpers/GkeClusterHelperTest.java
  930-delegate-tasks/src/test/java/io/harness/delegate/task/terraform/TerraformBaseHelperImplTest.java
  960-api-services/src/test/java/io/harness/k8s/oidc/OidcTokenRetrieverTest.java
Owners: none
